{erl_first_files, ["src/erlang_supercompiler.erl"
		  ]}.

{erl_opts, [debug_info
           ,warn_export_all
           ,warn_unused_import
           ,warn_unused_vars
	   ]}.

{xref_warnings, true}.
{xref_checks, [undefined_function_calls
              ,undefined_functions
              ,locals_not_used
               %% ,exports_not_used
              ,deprecated_function_calls
              ,deprecated_functions
              ]}.
